<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/register-style.css">
  <link rel="icon" href="/icons/favicon.ico" type="image/x-icon" />
  <title>Pomodoro - Register</title>
</head>

<body>
  <nav>
    <div id="title-wrapper">
      <div id="title-header">
        <h1 id="title-text">Pomodoro</h1>
        <img src="/pomodoro_logo.png" alt="Pomodoro Logo">
      </div>
    </div>
    <div id="navbar"></div>
    <a id="loginbtn"></a>
  </nav>

    <div id="">
      <div id="container">
        <div id="form-wrapper">
          <form id="register-form">
            <div class="form-element">
              <input id="username" class="form-input" type="text" placeholder="Username" required/>
            </div>
            <div class="form-element">
              <input id="password" class="form-input" type="password" placeholder="Password" required/>
            </div>
            <div class="form-element">
              <input id="confirm-password" class="form-input" type="password" placeholder="Confirm Password" required/>
            </div>
            </div>
            <div class="form-button">
              <input id="registerbtn" type="submit" value="Register" />
            </div>
          </form>
        </div>
      </div>
    </div>
</body>

</html>