* {
	margin: 0px;
}

#navbar {
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	height: 75px;
	background-color: rgb(246, 231, 174);
}

#container {
	height: 660px;
	width: 100%;
	background-color: rgb(250, 244, 212);
}

form {
	margin: 0 auto;
	width: 50%;
}

form input {
	display: inline-block;
	height: 50px;
	width: 48%;
}

form button {
	width: 75px;
	margin-left: 160px;
}

#task-list {
	margin: 0 auto;
	width: 50%;
}

#task-container {
	width: 100%;
}

.task {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 10px;
	background-color: rgb(246, 231, 174);
}

.task-name {
	display: inline-block;
	width: 80%;
}

.task-name:hover {
	text-decoration: line-through;
}
