* {
	margin: 0px;
}

#navbar {
	height: 150px;
	background-color: rgb(246, 231, 174);
	width: 100%;
	float: left;
}

#title {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 50%;
  transform: translateY(-100%);
}

h1 {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#timer {
	font-size: 60px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 50%;
}

#progressBar {
	width: 100%;
	background-color: rgb(221, 221, 221);
	float: left;
}

#progress{
	width: 0%;
	height: 20px;
	background-color: rgb(50, 205, 50);
}

#container {
	height: 660px;
	width: 100%;
	background-color: rgb(250, 244, 212);
	float: left;
}

form {
	margin: 0	auto;
	width: 50%;
}

form input {
	display: inline-block;
	height: 50px;
	width: 48%;
}

form button {
	width: 75px;
	margin-left: 160px;
}

#task-list {
	margin: 0 auto;
	width: 50%;
}

#task-container {
	width: 100%;
}

.task {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 10px;
	background-color: rgb(246, 231, 174);
}

.task-name {
	display: inline-block;
	width: 80%;
}

.task-name:hover {
	text-decoration: line-through;
}
